@import "../styles/Home.module.scss";

.canvas_container {
  display: flex;
  padding: 25px;
  padding-left: $tabWidth + 10;

  .canvas_wrapper {
    display: flex;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;

    canvas {
      margin: auto;
    }
  }
}
